/***************************************************
 * Assemblage
 *
 * Core styling for Assemblage
 ***************************************************/

/***************************************************
 * VARIABLES AND IMPORTS
 ***************************************************/

:root {
  /* --background-color: #ffffff; */
  --background-color: #fefefe;
  --text-color: #090E0A;
  --primary-color: #090E0A;
  --secondary-color: #090E0A;
  --heading-color: #090E0A;
  --link-color: #1c5979;
  --link-fade-color: #5BAFCA;
  --border-color: #090E0A;

  --primary-font-stack: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --secondary-font-stack: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --numeric-font-stack: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

/***************************************************
 * BASE - Resets and core styling
 ***************************************************/

/*! minireset.css v0.0.3 | MIT License | github.com/jgthms/minireset.css */
blockquote,body,dd,dl,dt,fieldset,figure,h1,h2,h3,h4,h5,h6,hr,html,iframe,legend,li,ol,p,pre,textarea,ul{margin:0;padding:0}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:400}ul{list-style:none}button,input,select,textarea{margin:0}html{box-sizing:border-box}*,:after,:before{box-sizing:inherit}audio,embed,iframe,img,object,video{height:auto;max-width:100%}iframe{border:0}table{border-collapse:collapse;border-spacing:0}td,th{padding:0;text-align:left}

body {
  /* Base typography */
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: var(--primary-font-stack);
  line-height: 1.3;
  /* Base layout */
  display: grid;
  grid-template-areas: "main__header" "main__content" "main__footer";
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

a:link,
a:visited {
  color: var(--link-color);
}

a:focus,
a:hover,
a:active {
  color: var(--link-fade-color);
}

/***************************************************
 * MODULES - Main content blocks
 ***************************************************/

.main__wrapper {
  padding: 1rem;
}

.main__header {
  display: flex;
}

.main__header__branding {
  flex: 1;
  font-weight: 700;
  font-size: 3rem;
}

.main__content {
  /* display: grid; */
}

.main__footer {
  /* display: flex; */
}